body{
    background: rgb(254, 200, 130);
    text-align: center;
    font-family: "Shrikhand", serif;
    word-spacing: 5px;
    letter-spacing: 2px;
}
h1{
    font-size: 40px;
    background: rgb(172, 102, 49);
    width: 65%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    color: white;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.766) ;
}

li{
    display: inline-block; 
    background:rgb(172, 102, 49) ;
    margin: 20px; 
    padding: 15px; 
    vertical-align: top;
    border-radius: 10px;
    width: 40%;
    font-size: 25px;
    color: white;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.766) ;
}